<div class="mt-5">
  <form
    action="/capybara/post-capybara"
    enctype="multipart/form-data"
    method="post"
  >
    <div class="mb-3">
      <label for="tags" class="form-label">Tags</label>
      <input
        type="text"
        class="form-control"
        id="tags"
        aria-describedby="tags-list"
        name="tags"
      />
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="file" class="form-control" id="image" name="image" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
