:root {
  --cap-white: #e0e1f3;
  --cap-black: #0e0e10;
  --cap-orange: #ff6e1a;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");

/** Tag A B C D E F G H I J K L M N O P Q R S T U V W X Y Z*/

body {
  /* font-family: "Poppins", sans-serif !important; */
  background-color: var(--cap-black);
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
li,
ul,
label {
  /* font-family: "Poppins", sans-serif !important; */
  color: var(--cap-white);
}

/** Classes A B C D E F G H I J K L M N O P Q R S T U V W X Y Z*/

.btn-primary {
  --bs-btn-color: var(--cap-black);
  --bs-btn-bg: var(--cap-orange);
  --bs-btn-border-color: var(--cap-orange);
  --bs-btn-hover-color: var(--cap-black);
  --bs-btn-hover-bg: #ff7f36;
  --bs-btn-hover-border-color: #ff7b2e;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--cap-black);
  --bs-btn-active-bg: #ff7b2e;
  --bs-btn-active-border-color: #ff7b2e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--cap-black);
  --bs-btn-disabled-bg: var(--cap-orange);
  --bs-btn-disabled-border-color: var(--cap-orange);
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem #ff7f3640;
}

.CAPAAS-banner-section {
  background-color: #1d1d21;
}

.card {
  overflow: hidden;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: stretch; */
  height: 100%;

  color: var(--cap-white);
  /* background-color: #1d1d21; */
  background: #1d1d21;
  /* background: linear-gradient(153deg, #35353d 0%, #1d1d21 70%); */
  background: linear-gradient(153deg, hsl(240, 7%, 25%) 0%, #1d1d21 70%);
  background-size: 200%;
  background-position-x: 100%;

  border-color: #232326;
  border-width: 2px;
  border-radius: 8px;

  box-shadow: 0px 10px 20px #35353d5d;

  transition: all 400ms ease-in-out;
}

.card:hover {
  background-position-x: 0%;
  transform: scale(1.01);

  box-shadow: 0px 15px 25px hsla(22, 100%, 60%, 0.15);
}

@media (max-width: 767px) {
  .card-home:nth-child(n + 3) {
    display: none;
  }
}

@media (max-width: 991px) {
  .card-home:nth-child(n + 4) {
    display: none;
  }
}

.card-footer span,
#id span {
  color: #474752;
  font-size: 0.8rem;
}

.card-image {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 6px;
}

.form-control {
  color: var(--cap-white);
  background-color: #1d1d21;
  border-color: #232326;
}

.fs-7 {
  font-size: 0.75rem;
}

.fs-8 {
  font-size: 0.5rem;
}

.home-banner {
  border-radius: 7px;

  background-color: hsla(240, 7%, 6%, 0.4);
}

.home-banner p {
  font-size: 1.3rem;
}

.form-control:focus {
  color: var(--cap-white);
  background-color: #1d1d21;
  border-color: #35353d;
  box-shadow: 0 0 0 0.25rem #ff7f3640;
}

.images-cards {
  max-width: 100%;
  min-height: 100%;

  object-fit: cover;
}

.no-link-style {
  color: unset !important;
  text-decoration: none !important;
}

.section-padding {
  width: 100%;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1274px;
}

@media (min-width: 400px) {
  .section-padding {
    padding: 0 32px;
  }
}

@media (min-width: 600px) {
  .section-padding {
    padding: 0 66px;
  }
}

@media (min-width: 840px) {
  .section-padding {
    padding: 0 125px;
  }
}
